<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Оставить отзыв</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/serv/css/review.css}">
    <script src="https://kit.fontawesome.com/952a0c1369.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class = "navbar-container">
        <nav>
            <ul class="navbar">
                <li class = "nav-item"><a th:href="@{~/serv/api/patients/cabinet}">Личный кабинет</a></li>
                <li class = "nav-item"><a th:href="@{~/serv/api/patients/appointment}">Запись</a></li>
                <li class = "nav-item" id = "current"><a th:href="@{~/serv/api/patients/review}">Оставить отзыв</a></li>
                <li class = "nav-item"><a th:href="@{~/serv/api/patient/prescription}">Прочитать рецепт</a></li>
            </ul>
        </nav>
        <div id = "username-container">
            <div id = "username" th:text="${currentUser.username}"></div>
            <div class = "logout-container">
                <a class = "logout-button" th:href="@{~/serv/api/authorization/login}">
                    Выход
                </a>
                <i class="fa fa-sign-out" aria-hidden="true">
                </i>
            </div>
        </div>
    </header>
<main>
    <h1>Оставить отзыв</h1>
    <h2 class = "please">Пожалуйста, оставьте отзыв о вашем враче:</h2>
    <h2 th:text = "${doctor.lastName + ' ' + doctor.firstName + ' ' + doctor.middleName}"></h2>
    <form class="decor" th:method="POST" th:action="@{~/serv/api/patients/review}">
        <div class="form-inner">
        <h3>Опишите свои впечатления</h3>
        <input type="text" placeholder="Заголовок отзыва" th:field="${review.title}" required>
        <textarea placeholder="Сообщение..." rows="3" th:field="${review.content}" required></textarea>
        <div class="rating-area" th:field="${review.rating}">
            <input type="radio" id="star-5" name="rating" value="5" required>
            <label for="star-5" title="Оценка «5»"></label>
            <input type="radio" id="star-4" name="rating" value="4" required>
            <label for="star-4" title="Оценка «4»"></label>
            <input type="radio" id="star-3" name="rating" value="3" required>
            <label for="star-3" title="Оценка «3»"></label>
            <input type="radio" id="star-2" name="rating" value="2" required>
            <label for="star-2" title="Оценка «2»"></label>
            <input type="radio" id="star-1" name="rating" value="1" required>
            <label for="star-1" title="Оценка «1»"></label>
        </div>
        <input type="submit" value="Отправить">
        </div>
    </form>
</main>
<footer>
    <div class = "footer-separator-container">
        <div class = "footer-separator"></div>
        <div class = "icon-container">
            <i class="fa fa-plus-square icon" aria-hidden="true"></i>
        </div>
        <div class = "footer-separator"></div>
    </div>
    <div class = "copyright-container">
        &copy; 2023 Захаров Матвей Максимович
    </div>
</footer>
</body>
</html>